<div class="hero-body">
  <div class="container">
    <div class='columns'>
      <div class='column is-4 is-offset-4 box'>
      <form class="" action="/users/login" method="post">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" name='user[name]' placeholder="Username input">
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" name='user[password]' placeholder="Password input">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary">Log In</button>
          </div>
          <div class="control">
            <button class="button is-link"><a href='/users/register'>New User? Sign Up Now</a></button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
