{{message}}
<h1>sign up page</h1>
<div class="hero-body">
  <div class="container">
    <div class='columns'>
      <div class='column is-4 is-offset-4 box'>

      <form class="" action="/users/register" method="post">

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" name= "user[name]" placeholder="Min 5 chars">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name= "user[password]" placeholder="Min 5 chars">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Create Account</button>
        </div>
      </div>

      </form>

      </div>
    </div>
  </div>
</div>
