.navbar {
  background: rgba(0,0,0,0.2);
}

img {
  display: inline-block;
  width: 100px;
  height: 60px;
  vertical-align: top;
}

.itemImg {
  display: inline-block;
  width: 70px;
  height: 50px;
  vertical-align: top;
}

img:hover {
  border: 2px solid white;
}

.card {
  border: 2px solid black;
}

.active {
  background: rgb(200, 200, 200);
}

.loading {
  width: 100px;
  height: 100px;
  display: none
}

.homepage {
  background-image: url('http://i.imgur.com/0uueOOL.jpg');
  background-size: cover;
}

.homepage h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 10rem;
  font-weight: bold;
  z-index: 1;
  color: white;
  margin: 0 auto;
}
/*.homepage h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  z-index: 1;
  color: white;
  margin: 0 auto;
}*/
