<h1>all builds page</h1>

<h1> View Builds By Hero</h1>
{{!-- hero images--}}
<div class='allHeroesList'>

</div>

{{!--show builds for selected hero--}}
<div class='buildsByHero'>
  <h1 class='heroName'></h1>
</div>

<h1>{{search}}</h1>
