<h1> View Builds By Hero</h1>

{{!-- hero images--}}
<section class='section'>
<div class='container'>

  <div class='columns'>
    <div class='column allHeroesList'>
    </div>
  </div>
  <img class= 'loading' src='/img/Spinner.gif'>
  {{!--show builds for selected hero--}}
  <div class='columns is-multiline buildsByHero'>
    <h1 class='heroName'></h1>
  </div>

  <div class='columns'>
    <div class='column'>
      <a href='/builds/new' class='redirectCreate'></a>
    </div>
  </div>

</div>
</section>
