<section class='section'>
<div class='container'>

<div class="columns">

  <div class='column is-3 card'>
    <form action='/builds/new' method='post'>
    <div class= 'card-content'>
      <label class='label'>Hero</label>
      <div class='select'>
        <select class="heroDropdown" name="build[hero]">
          <option value="">Hero Name</option>
        </select>
      </div>
      <label class='label'>
        Title
        <input class='input' type="text" name="build[title]" value="">
      </label>
    </div>
    <div class="card-content buildSection active" id="starting">
      <label class='label'>Starting Off</label>
    </div>
    <div class="card-content buildSection" id="core">
      <label class='label'>Core Items</label>
    </div>
    <div class="card-content buildSection" id="late">
      <label class='label'>Late Game</label>
    </div>
    <div class="card-footer">
      <button class='button is-primary'>Submit</button>
    </div>
    </form>
  </div>

  <div class='column is-9 card allItemsList'>
    <h1>In order of price</h1>
    <img class= 'loading' src='/img/Spinner.gif'>
  </div>

</div>

</div>
</section>
